table#vehiclesTable tr:nth-child(even) {
  background-color: #eee;
}
table#vehiclesTable tr:nth-child(odd) {
  background-color: #fff;
}
table#vehiclesTable th {
  color: white;
  background-color: black;
}
#vehicles{
  width: 60%
    
}
#search{
  width: 10%
    
}